<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <small><%= data._id%></small>
    <h1>Welcome <%= data.email%></h1>
    <a href="/logout">Logout</a>
    <br> <br>
    <form action="/resetPassword" method="POST">
        <input type="password" name="newPassword" placeholder="New Password">
        <button>Change Password</button>
    </form>
    <hr>
    <form action="/forgotPassword" method="post">
        <input type="password" name="oldPassword" placeholder="Old Password"> 
        <input type="password" name="newPassword" placeholder="New Password">
        <button>Change Forgot Password</button>
      </form>
</body>
</html>